
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Merriweather&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

#index_grid{
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "main"
    ;
}

#rubrik{
    margin: 0.5rem;
}

#top{
    
    width: 100%;
    height: 3.5rem;
    
}

#meny{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 75%;
    list-style: none;
}

#background_image{
    grid-area: main;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;

    
    background-image: url(../img/bakgrund.jpg);
}

#background_text{
    position: absolute;
    top: 30%;
    left: 42%;
    font-size: 4rem;
    text-decoration: none;
}

header{
    background: red;
}

#bottom{
    background: green;
    height: 100px;
}

.top_item{
    margin: 0.5rem;
    
}

.model_article{
    display: flex;
    margin: 5%;
    border-radius: 50px;
}

#first_plane{
    height: 400px;
 
    border-radius: 50px;
}

#second_plane{
    height: 400px;
   
    border-radius: 50px;
}

#third_plane{
    height: 400px;
    
    border-radius: 50px;
}

#fourth_plane{
    height: 400px;
    /*width: auto;*/ 
    border-radius: 50px;
}

.flygplans_bild{
    object-fit: cover;
    width: 600px;
}

.flygplans_text{
    padding-top: 10px;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.model_section{
    padding-left: 20px;
}

.model_h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width:1000px) {
    .model_article{
        display: flex;
        flex-direction: column;
        margin: 5%;
        border-radius: 50px;

        
    }

    .flygplans_bild{
        object-fit: cover;
        width: 550px;
    }

    .model_h2{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
    }

    .flygplans_bild{
        object-fit: cover;
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .model_article{
        display: flex;
        margin: 10%;
        border-radius: 50px;
    }
}
