
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Merriweather&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

#index_grid{
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "main"
    ;
}

#rubrik{
    margin: 0.5rem;
}

#top{
    
    width: 100%;
    height: 3.5rem;
    
}

#meny{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 75%;
    list-style: none;
}

#background_image{
    grid-area: main;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;

    
    background-image: url(../img/bakgrund.jpg);
}

#background_text{
    position: absolute;
    top: 30%;
    left: 42%;
    font-size: 4rem;
    text-decoration: none;
}

header{
    background: red;
}

#bottom{
    background: green;
    height: 100px;
}

.top_item{
    margin: 0.5rem;
    
}

.model_article{
    display: flex;
    margin: 5%;
    border-radius: 50px;
}

#first_plane{
    height: 400px;
 
    border-radius: 50px;
}

#second_plane{
    height: 400px;
   
    border-radius: 50px;
}

#third_plane{
    height: 400px;
    
    border-radius: 50px;
}

#fourth_plane{
    height: 400px;
    /*width: auto;*/ 
    border-radius: 50px;
}

.flygplans_bild{
    object-fit: cover;
    width: 600px;
}

.flygplans_text{
    padding-top: 10px;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.model_section{
    padding-left: 20px;
}

.model_h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#grid_produkter{
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "prkt1 prkt2 prkt3"
    "prkt4 prkt5 prkt6";
    justify-content: space-around;
}

.produkt{
    margin: 5%;
    position: relative;
}

.produkt_img{
    object-fit: cover;
    width: 350px;
    height: 250px;
    border-radius: 50px;
    display: block;
}

#produkt1{
    grid-area: prkt1;
}

#produkt2{
    grid-area: prkt2;
}

#produkt3{
    grid-area: prkt3;
}

#produkt4{
    grid-area: prkt4;
}

#produkt5{
    grid-area: prkt5;
}

.overlay{
    position: absolute;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.443);
    width: 350px;
    height: 80px;
    top: 170px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    
}

.produkt:hover .overlay {
    opacity: 1;
}

.overlay_text_rubrik {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.description{
    position: absolute;
    left: 50%;
    top: 75%;
    display: inline;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#description1{
    width: 180px;
}

#description3{
    width: 197px;
}

#description6{
    width: 182px;
}

.price{
    position: absolute;
    left: 50%;
    top: 50%;
    
    display: inline;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#om_oss_bakgrund{
    height: 500px;
    width: 1fr;
    background-size: cover;
    background-image: url(../img/Ny_om_oss_bakgrund.jpg);
    
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    
}




#om_oss_rubrik{
    position: relative;
   
    font-size: 3rem;
    
    font-family: "Poppins", sans-serif;

}

#placement_section{
    position: absolute;
    left: 70%;
    top: 25%;
}

#om_oss_under_rubrik{
    position: relative;

    font-family: "Poppins", sans-serif;
}

#grid_wrapper_om_oss{
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ar gor";

}

#vi_ar_article{
    grid-area: ar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

#vi_gor_article{
    grid-area: gor;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

#genomskinlig_jetflygplan{
    position: absolute;
    left: 100px;
    height: 140px;
    width: auto;
    bottom: 0;
}

.om_oss_text{
    font-family: "Poppins", sans-serif
}

#historia_article{
    margin: 10px;
    
    grid-area: historia;


}

#produkter_article{
    grid-area: produkter;

    margin: 10px;
}

#hund_produkt{
    height: 150px;
    width: auto;
    margin: 10px;
    position: absolute;
}

#history_airplanes{
    height: 150px;
    width: auto;
    margin: 10px;
    position: absolute;
}

#index_grid_two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "produkter historia";
    height: 230px;
    justify-items: center;
    align-content: space-evenly;
}

.index_text{
    font-family: "Poppins", sans-serif;
}

#om_oss_article{
    display: flex;
    height: 70px;
    flex-direction: column;
    
    
    background: blue;
    margin: 10px;
    
    left: 50%;
    
}

.oss_article_text{
    font-family: "Poppins", sans-serif;
    
}

#position_div_om_oss_article{
    position: absolute;
   left: 50%;
    
    -webkit-transform: translate(-50%, 0%);
}



@media screen and (max-width:1000px) {
    .model_article{
        display: flex;
        flex-direction: column;
        margin: 5%;
        border-radius: 50px;

        
    }

    .flygplans_bild{
        object-fit: cover;
        width: 550px;
    }

    .model_h2{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
    }

    .flygplans_bild{
        object-fit: cover;
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .model_article{
        display: flex;
        margin: 10%;
        border-radius: 50px;
    }

    #grid_produkter{
        display: grid;
        width: 100%;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "prkt1 prkt2"
        "prkt3 prkt4"
        "prkt5 prkt6";
        justify-content: space-around;
    }
}
